<p id="notice"><%= notice %></p>

<p>
  <strong>Detail:</strong>
  <%= @impact.detail %>
</p>

<p>
  <strong>Food:</strong>
  <%= @impact.food_id %>
</p>

<p>
  <strong>Source Country:</strong>
  <%= @source_country %>
</p>

<%= link_to 'Back', root_path %>
